<div class="unauthorized" *ngIf="!authorized">
  <h4>
    <strong>Sorry {{ currentUser.username }}, this web-app is <h3 class="bigMonth inline">private</h3></strong>
  </h4>
  Request access and <span class="returnToLogin" (click)="router.navigateByUrl('/login')">login again!</span>
  <button (click)="authSvc.logout()">logout</button>
</div>
<div *ngIf="authorized">
  <div class="welcome-logout">
      <h3 class="bigMonth">Hi, {{ currentUser.username }}</h3><h6 *ngIf="userName?.contains('abio')">que sexy!</h6>
      <button (click)="authSvc.logout()">logout</button>
  </div>

  <h4>
    <strong>we are gathered here today:</strong>
  </h4>
  <h3>
    <span class="bigMonth"><strong>{{today | date:'EEEE'}} </strong>&nbsp;{{today | date:'M/d/y'}}</span>
  </h3>


  <table width="100%" align="center">
    <tr class="warning" colspan="2">
      <td valign="top" id="listDiv">
        <div>
          <h4 align="center">
            <span class="label label-info">2016</span>
            <span class="label label-success">{{selectedMonth$?.month}}</span>
          </h4>
          <monthlist [monthlyBills]="allMonths"
                     (selectMonth)="receiveSelectedMonth($event)"></monthlist>
        </div>
      </td>
      <td>
        <h1>&nbsp;</h1>
      </td>
      <td>
        <br/>
        <div>
          <monthlybill [month]="selectedMonth$"
                       [username]="currentUser.username"
                       (saveMonth)="updateMonthWithChanges()">
          </monthlybill>
        </div>
      </td>
    </tr>
  </table>
</div>

<!--
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
<span class="label label-info">Info</span>
-->
