.inline {
  display: inline;
}

.unauthorized {
  background-color: #008E91;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 3em;
}

.welcome-logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10em;
  margin-right: 10em;
  border-top: 0em;
  border-left: 0em;
  border-right: 0em;
  border-bottom: .1em;
  border-style: solid;
  border-color: white;
}

#listDiv {
  width:15em;
  padding-left: 200px;
}

.bigMonth {
  font-family: "American Typewriter";
  font-style: italic;
  color: white;
  font-size: 38px;
}

.mainLayout {
  padding-right: 100px;
}
