<div align="center">
  <tr *ngFor="let month of allMonths">
    <td>
      <span id="monthItem"
            [ngClass]="month?.month === currentMonth?.month ? 'btn btn-success btn-lg btn-block' :
              month.id > today.getMonth()+1 ? 'btn btn-default btn-lg btn-block disabled' : 'btn btn-default btn-lg btn-block'"
            (click)="setMonth(month)">{{month?.month}}
      </span>
    </td>
  </tr>
</div>
