
<form class="form-horizontal">
  <legend>welcome FVCKM 2017</legend>
  <span class="error" *ngIf="error">{{error}}</span>
  <button (click)="loginGoogle()" id="google"> Login With Google</button>
</form>


<!-- <form class="form-horizontal">
  <fieldset>
    <legend>welcome FVCKM 2017</legend>
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </fieldset>
</form> -->
