@charset "UTF-8";
/* CSS Document */
body{
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #23d3d0;
  font-family: "PT Mono";
  font-size: 16px;
}

.title{
  font-family: "PT Mono";
  font-size: 45px;
}

.big {
  font-family: "PT Mono";
  font-size: 20px;
  color: aquamarine;
  font-weight: 600;
  font-style: italic;
}
