<div>
      <div class="panel panel-success" id="billsdiv">
        <div class="panel-heading">
          <h3 align="left" class="panel-title">
            <button [ngClass]="{disabled: addingNewExpense ? true : false}"
                    (click)="createNewBill()"
                    class="btn btn-xs btn-success"><strong>+</strong>
            </button>
            <span *ngIf="addingNewBill">
              Add a new bill for :
            </span>
            <span *ngIf="!addingNewBill">
              Monthly bills for :
            </span>
            <strong>{{month?.month}}</strong>
          </h3>
        </div>
        <div class="panel-body" align="center">
          <table *ngIf="!addingNewBill" width="80%">
            <!-- loop through the monthly bills -->
            <tr *ngFor="let bill of month?.bills">
              <td align="center">
                <label>{{ bill.name }}</label>
              </td>
              <td> &nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>
                <input *ngIf="!bill.amount" type="text"
                       value="{{ bill.amount | currency:'USD':true }}"
                >
                <span *ngIf="bill.amount" class="text-success">{{ bill?.amount | currency:'USD':true }}</span>
              </td>
              <td align="center">
                <span *ngIf="bill?.dateRegistered" class="text-info">{{ bill?.dateRegistered | date:'M/d/y' }}</span>
              </td>
            </tr>
          </table>

          <!-- ADD new MONTHLY BILL -->
          <!-- FORM -->
            <form *ngIf="addingNewBill" class="form-horizontal" [formGroup]="utilityBillsForm" novalidate autocomplete="off" align="left">
              <fieldset>
                <div class="form-field">
                  <label>utility:</label>
                  <input [(ngModel)]="newBill.name" formControlName="name" type="text"
                          size="12" maxlength="12">
                </div>
                <div [ngClass]="(billAmtControl.touched && !billAmtControl.valid ? 'form-group has-error' : '')">
                  <label>amount:</label>
                  <span>$</span><input [(ngModel)]="newBill.amount" formControlName="amount" type="text"
                          size="10" maxlength="6">
                  <label *ngIf="billAmtControl.touched && !billAmtControl.valid" class="text-warning">
                    Please enter an amount between 0.00 and 999.99</label>
                </div>
                <div class="form-field">
                  <label>paid by:</label>
                  <input [(ngModel)]="newBill.paidBy" formControlName="paidBy" type="text">
                </div>
                <div (click)="hideYear()">
                  <label>bill date: </label>
                  <ng2-datepicker
                      [(ngModel)]="billDate"
                      [options]="datePickerOptions"
                      formControlName="paidDate"
                      ></ng2-datepicker>
                </div>
                <br/>
                <div class="form-field">
                  <button [disabled]="!utilityBillsForm.valid || !verifyPaidByUs(newBill.paidBy) || !isValidAmount(newBill.amount)"
                          (click)="doSaveBill()"
                          class="btn btn-xs btn-success">save
                  </button>
                  <button (click)="clearFields()"
                          class="btn btn-xs btn-info">cancel
                  </button>
                </div>
              </fieldset>
            </form>
          <!-- END FORM -->
        </div>
      </div>

      <div class="panel panel-info" id="othersdiv">
        <div class="panel-heading" id="headingdiv">
            <div>
              <h3 class="panel-title" align="left">
              <button [ngClass]="{disabled: addingNewExpense ? true : false}"
                      (click)="createNewExpense()"
                      class="btn btn-xs btn-info"><strong>+</strong>
              </button>
              <span *ngIf="!addingNewExpense">
                Other expenses in :
              </span>
                <span *ngIf="addingNewExpense">
                Add an expense for :
              </span>
              <strong>{{month?.month}}</strong>
              </h3>
          </div>
        </div>

        <!-- FORM -->
        <div *ngIf="addingNewExpense" class="panel-body">
          <form [formGroup]="newExpenseForm" novalidate autocomplete="off">
            <fieldset>
              <!--<legend>New Expense</legend>-->
              <div form-field>
                <label>note:</label><br/>
                <textarea [(ngModel)]="newExpense.note" style="border:solid 1px purple;"
                          formControlName="note" name="newNote"
                          wrap="hard" rows="4" cols="45" required minlength="6"></textarea>
              </div>
              <!-- datepicker -->
              <div class="form-field" (click)="hideYear()">
                <label>date:</label>
                  <ng2-datepicker id="datePicker"
                        [(ngModel)]="expenseDate"
                        [options]="datePickerOptions"
                        formControlName="expensePaidDate">
                  </ng2-datepicker>
              </div>
              <div [ngClass]="(amountControl.touched && !amountControl.valid ? 'form-group has-error form-field' : 'form-field')">
                <label>amount:</label>
                <span>$</span><input [(ngModel)]="newExpense.amount" formControlName="amount" type="text"
                               size="10" maxlength="6">
                <label *ngIf="amountControl.touched && !amountControl.valid" class="text-warning">
                  Please enter an amount between 0.00 and 999.99</label>
              </div>
              <div class="form-field">
                <label>paid by:</label>
                <input [(ngModel)]="username"  formControlName="paidBy" type="text"
                       required>
              </div>
              <div class="form-field">
                <button [disabled]="!newExpenseForm.valid || !this.verifyPaidByUs(newExpense.paidBy) || !isValidAmount(newExpense.amount)"
                        (click)="doSaveExpense()"
                        class="btn btn-xs btn-success">save
                </button>
                <button (click)="clearFields()"
                        class="btn btn-xs btn-info">cancel
                </button>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- END FORM -->

        <div *ngIf="!addingNewExpense" class="panel-body">
          <table width="500px">
            <!-- loop through other monthly expenses -->
            <tr *ngFor="let other of month?.others">
              <td>
                <div class="panel-body">
                    <blockquote>
                      <p>{{other.note}} </p>
                      <small>{{other.paidBy}}
                        <strong>
                            <span class="text-success">{{ other.amount | currency:'USD':true }}</span>
                        </strong>
                      </small>
                      <strong>
                            <span *ngIf="other.dateRegistered"
                                  class="text-info">{{ other.dateRegistered | date:'M/d/y' }}
                            </span>
                      </strong>
                      <br/>
                    </blockquote>
                  </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
</div>
<!--
FOR BUTTONS:
<a href="#" class="btn btn-default">Default</a>
<a href="#" class="btn btn-primary">Primary</a>
<a href="#" class="btn btn-success">Success</a>
<a href="#" class="btn btn-info">Info</a>
<a href="#" class="btn btn-warning">Warning</a>
<a href="#" class="btn btn-danger">Danger</a>
<a href="#" class="btn btn-link">Link</a>
-->
